In [67]:
import pandas as pd
import numpy as np
import os

In [68]:
#Loading the default sample submission
Sample =  pd.read_csv('../../sample_submission.csv')
Sample['id'] = Sample['id'].astype(str)

In [69]:
Sample.head()

                 id  10  20  30  40  50  60  70  80  90
0  2020-04-01-10001   0   0   0   0   0   0   0   0   0
1  2020-04-01-10003   0   0   0   0   0   0   0   0   0
2  2020-04-01-10005   0   0   0   0   0   0   0   0   0
3   2020-04-01-1001   0   0   0   0   0   0   0   0   0
4   2020-04-01-1003   0   0   0   0   0   0   0   0   0

In [70]:
#Adding in relevant columns to help sort final submission
Sample['split'] = Sample['id'].str.rsplit('-',1)
Sample['Date'] = Sample['split'].str[0]
Sample['FIPS'] = Sample['split'].str[1]


Sample['Date'] = pd.to_datetime(Sample.Date)
Sample['Date1'] = Sample['Date'].dt.strftime('%m/%d/%Y')

In [71]:
Sample.head()

,id,10,20,30,40,50,60,70,80,90,split,Date,FIPS,Date1
0,2020-04-01-10001,0,0,0,0,0,0,0,0,0,"[2020-04-01, 10001]",2020-04-01,10001,04/01/2020
1,2020-04-01-10003,0,0,0,0,0,0,0,0,0,"[2020-04-01, 10003]",2020-04-01,10003,04/01/2020
2,2020-04-01-10005,0,0,0,0,0,0,0,0,0,"[2020-04-01, 10005]",2020-04-01,10005,04/01/2020
3,2020-04-01-1001,0,0,0,0,0,0,0,0,0,"[2020-04-01, 1001]",2020-04-01,1001,04/01/2020
4,2020-04-01-1003,0,0,0,0,0,0,0,0,0,"[2020-04-01, 1003]",2020-04-01,1003,04/01/2020

In [72]:
#############################################################
#Final Line: Writes out actual submission
Submission = Sample.set_index('id')
Submission.to_csv('Submission.csv', columns=['10','20','30','40','50','60','70','80','90'])